/* fonst */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* globol */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;

}
body{
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #F4D04E;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}

/* conteiner */

.container{
    width: 100%;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* main_content */
.main_content{
    flex-grow: 1;
}


/* site-box */
.site-box {
    
}
.box-site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card {
    
    width: 384px;
    padding: 24px;
    border-radius: 20px;
    opacity: 1;
    background: #fff;
    border: 1px solid #111;
    box-shadow: 8px 8px 0px 0px #000000;
}
.card-img{
    width: 336px;
    height: 200px;
    align-self: center;
    margin-bottom: 24px;
}
.button {
    margin: 0;
    padding: 8px 24px;
    text-decoration: none;
    background: #F4D04E;
    color: #111;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-family: Figtree;
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;

}
.publish {
    font-family: Figtree;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #111;
    margin-bottom: 12px;

}
.title-link{
    text-decoration: none;
    color: #111;
    font-family: Figtree;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    transform: 1s all;
    -webkit-transform: 1s all;
    -moz-transform: 1s all;
    -ms-transform: 1s all;
    -o-transform: 1s all;
}
.title-link:hover{
    color: #F4D04E;
}
.title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}
.description {
    color: #7f7f7f;
    font-family: Figtree;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.author {
    display: flex;
    align-items: center;
    margin: 0;
}
.user-img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.user-name {
    font-family: Figtree;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #111;
    margin-left: 8px;
}